			#principal
			{
				padding: 20px;
				text-align: center;
				font-style: bold;
				color: white;
				margin:  0px;

				/*Fundo para header criado em svgbackgrounds.com*/
				background-color: #030775;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23030775' cx='50' cy='0' r='50'/%3E%3Cg fill='%23030879' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2303087d' cx='50' cy='100' r='50'/%3E%3Cg fill='%23030981' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23030985' cx='50' cy='200' r='50'/%3E%3Cg fill='%23040a89' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23040b8d' cx='50' cy='300' r='50'/%3E%3Cg fill='%23040b91' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23040c95' cx='50' cy='400' r='50'/%3E%3Cg fill='%23040d99' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23040e9d' cx='50' cy='500' r='50'/%3E%3Cg fill='%23040ea2' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23040fa6' cx='50' cy='600' r='50'/%3E%3Cg fill='%230410aa' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%230410ae' cx='50' cy='700' r='50'/%3E%3Cg fill='%230411b2' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%230412b7' cx='50' cy='800' r='50'/%3E%3Cg fill='%230413bb' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%230313bf' cx='50' cy='900' r='50'/%3E%3Cg fill='%230314c4' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230315C8' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
				background-attachment: fixed;
				background-size: contain;
			}

			body{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23D6D6FF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23D6D6FF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
				/*Fundo criado em svgbackgrounds.com*/
			}

			.menu-container ul li
			{
				display: inline-block;
  				padding-right: 4px;
			}

			a:link 
			{
     			text-decoration: none;
			}

			a:visited {
			      text-decoration: none;
			}

			a:hover {
			      text-decoration: none;
			}

			a:active {
			      text-decoration: none;
			}
	
			.opcaomenu:hover
			{
				text-shadow: 2px 2px 2px #001aff;
			}

			.opcaomenu:active
			{
				
				text-shadow: 3px 3px 3px #5ed1ff;
			}

			.universidade
			{
				font-family: Georgia, serif;
				font-style: bold;
			}

			.conteudo
			{
				font-family: 'Times New Roman', serif;
			}

			.cabecalhos
			{
				margin-top: 30px;
				font-family: 'Georgia', serif;
				font-style: italic;
			}

			.paragrafos
			{
				font-family: 'Time New Roman', serif;
				font-size: 16px;
			}

			.rodape
			{
				font-family: 'Georgia', serif;
				margin-top: 200px;
				font-size: 14px;

				/*padding:  top right bottom left*/
				padding: 10px 10px 30px 10px; 

				color: white;
				text-align: center;
				
			    /*Fundo para header criado em svgbackgrounds.com*/
				background-color: #030775;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23030775' cx='50' cy='0' r='50'/%3E%3Cg fill='%23030879' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2303087d' cx='50' cy='100' r='50'/%3E%3Cg fill='%23030981' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23030985' cx='50' cy='200' r='50'/%3E%3Cg fill='%23040a89' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23040b8d' cx='50' cy='300' r='50'/%3E%3Cg fill='%23040b91' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23040c95' cx='50' cy='400' r='50'/%3E%3Cg fill='%23040d99' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23040e9d' cx='50' cy='500' r='50'/%3E%3Cg fill='%23040ea2' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23040fa6' cx='50' cy='600' r='50'/%3E%3Cg fill='%230410aa' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%230410ae' cx='50' cy='700' r='50'/%3E%3Cg fill='%230411b2' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%230412b7' cx='50' cy='800' r='50'/%3E%3Cg fill='%230413bb' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%230313bf' cx='50' cy='900' r='50'/%3E%3Cg fill='%230314c4' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230315C8' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
				background-attachment: fixed;
				background-size: contain;
			}